# peak-linux GRUB config for live ISO

insmod all_video

set default=0
set timeout=5

menuentry "peak-linux Install Medium (x86_64, UEFI)" --class arch --class gnu-linux --class os {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "peak-linux Install Medium (x86_64, UEFI) with speech" --class arch --class gnu-linux --class os {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}
